section[role="region"] > header:first-child h1 {
  padding: 0 1rem 0 0;
}

section[role="region"] > header:first-child h1 a {
  font-size: 2rem;
  text-overflow: inherit;
  color: inherit;
  text-align: center;
  width: 100%;
}

section[role="region"] header h2 {
  background-color: rgba(255, 255, 255, 0.9);
}

section[role="region"] > header:first-child .icon.icon-location {
  background-image: url(/images/shared/headers/images/icons/location.png);
}

section[role="region"] > header:first-child .icon.icon-attach {
  background-image: url(/images/shared/headers/images/icons/attachments.png);
}

section[role="region"] > header:first-child .icon.icon-group {
  background-image: url(/images/shared/headers/images/icons/group.png);
}

[role="toolbar"] button:active {
  background: #008aaa no-repeat 50% 50% / 3rem auto;
}

section[role="region"] > header:first-child a {
  min-width: 3rem
}
