<footer>
  <form id="conversation-compose">
    {{! buttons have a type=submit by default }}
    <button id="insert-emoji" type="button">Emoji</button>
    <div contentEditable="true" id="message-text-input"><br></div>
    <button id="conversation-send-button" type="button">Send</button>
  </form>
</footer>
