<section id="inbox" role="region" class="drawer" data-state="none">

  <header>
    <h1>{{translate 'openWapp'}}</h1>
  </header>

  <div class="page-wrapper">
    <div id="loading-wrapper">
      <progress></progress>
      <span>{{translate 'loading'}}</span>
    </div>
  </div>
</section>
