<form role="dialog" data-type="confirm" id="migration-page">
  <section class="main">
    <h1>{{translate 'migrationHeader'}}</h1>
    <p role="status">
      <span><span class="progressvalue"></span>{{translate 'migrationBody'}}</span>
      <p class="bar hidden"><progress value="0" max="100"></progress></p>
      <p class="spinner"><progress></progress></p>
    </p>
  </section>
</form>
