// TODO: Use Isma's technique for vertical center in BuildingBlocks
#emoji-list i.emoji
  margin-top: 1.2rem

#emoji-list
  opacity: 1
  pointer-events: auto
  transition: opacity 200ms ease

#emoji-list.hidden
  opacity: 0
  pointer-events: none

// TODO: refactor commom button code with _conversation.sass
#insert-emoji
  +appearance(none)
  padding: 0
  border: none
  background: url(/images/emoji_button.png) center center no-repeat
  +background-size(3rem 3rem)
  text-indent: -999rem
  width: 3rem
  height: 100%
  display: inline-block
  margin-right: 0.7rem
  &:active
    background-image: url(/images/emoji_button_active.png)
