<section id="emoji-list" tabindex="0" class="hidden">
  <ul class="content emoji-category category-people">
    <li>
      <span><i class="emoji emoji1f604" data-code="&#x1f604"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f603" data-code="&#x1f603"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f600" data-code="&#x1f600"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f60a" data-code="&#x1f60a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji263a" data-code="&#x263a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f609" data-code="&#x1f609"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f60d" data-code="&#x1f60d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f618" data-code="&#x1f618"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f61a" data-code="&#x1f61a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f617" data-code="&#x1f617"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f619" data-code="&#x1f619"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f61c" data-code="&#x1f61c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f61d" data-code="&#x1f61d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f61b" data-code="&#x1f61b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f633" data-code="&#x1f633"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f601" data-code="&#x1f601"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f614" data-code="&#x1f614"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f60c" data-code="&#x1f60c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f612" data-code="&#x1f612"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f61e" data-code="&#x1f61e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f623" data-code="&#x1f623"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f622" data-code="&#x1f622"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f602" data-code="&#x1f602"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f62d" data-code="&#x1f62d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f62a" data-code="&#x1f62a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f625" data-code="&#x1f625"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f630" data-code="&#x1f630"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f605" data-code="&#x1f605"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f613" data-code="&#x1f613"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f629" data-code="&#x1f629"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f62b" data-code="&#x1f62b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f628" data-code="&#x1f628"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f631" data-code="&#x1f631"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f620" data-code="&#x1f620"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f621" data-code="&#x1f621"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f624" data-code="&#x1f624"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f616" data-code="&#x1f616"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f606" data-code="&#x1f606"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f60b" data-code="&#x1f60b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f637" data-code="&#x1f637"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f60e" data-code="&#x1f60e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f634" data-code="&#x1f634"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f635" data-code="&#x1f635"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f632" data-code="&#x1f632"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f61f" data-code="&#x1f61f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f626" data-code="&#x1f626"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f627" data-code="&#x1f627"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f608" data-code="&#x1f608"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f47f" data-code="&#x1f47f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f62e" data-code="&#x1f62e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f62c" data-code="&#x1f62c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f610" data-code="&#x1f610"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f615" data-code="&#x1f615"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f62f" data-code="&#x1f62f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f636" data-code="&#x1f636"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f607" data-code="&#x1f607"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f60f" data-code="&#x1f60f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f611" data-code="&#x1f611"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f472" data-code="&#x1f472"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f473" data-code="&#x1f473"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f46e" data-code="&#x1f46e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f477" data-code="&#x1f477"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f482" data-code="&#x1f482"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f476" data-code="&#x1f476"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f466" data-code="&#x1f466"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f467" data-code="&#x1f467"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f468" data-code="&#x1f468"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f469" data-code="&#x1f469"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f474" data-code="&#x1f474"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f475" data-code="&#x1f475"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f471" data-code="&#x1f471"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f47c" data-code="&#x1f47c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f478" data-code="&#x1f478"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f63a" data-code="&#x1f63a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f638" data-code="&#x1f638"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f63b" data-code="&#x1f63b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f63d" data-code="&#x1f63d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f63c" data-code="&#x1f63c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f640" data-code="&#x1f640"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f63f" data-code="&#x1f63f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f639" data-code="&#x1f639"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f63e" data-code="&#x1f63e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f479" data-code="&#x1f479"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f47a" data-code="&#x1f47a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f648" data-code="&#x1f648"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f649" data-code="&#x1f649"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f64a" data-code="&#x1f64a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f480" data-code="&#x1f480"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f47d" data-code="&#x1f47d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4a9" data-code="&#x1f4a9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f525" data-code="&#x1f525"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2728" data-code="&#x2728"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f31f" data-code="&#x1f31f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4ab" data-code="&#x1f4ab"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4a5" data-code="&#x1f4a5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4a2" data-code="&#x1f4a2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4a6" data-code="&#x1f4a6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4a7" data-code="&#x1f4a7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4a4" data-code="&#x1f4a4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4a8" data-code="&#x1f4a8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f442" data-code="&#x1f442"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f440" data-code="&#x1f440"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f443" data-code="&#x1f443"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f445" data-code="&#x1f445"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f444" data-code="&#x1f444"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f44d" data-code="&#x1f44d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f44e" data-code="&#x1f44e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f44c" data-code="&#x1f44c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f44a" data-code="&#x1f44a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji270a" data-code="&#x270a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji270c" data-code="&#x270c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f44b" data-code="&#x1f44b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji270b" data-code="&#x270b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f450" data-code="&#x1f450"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f446" data-code="&#x1f446"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f447" data-code="&#x1f447"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f449" data-code="&#x1f449"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f448" data-code="&#x1f448"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f64c" data-code="&#x1f64c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f64f" data-code="&#x1f64f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji261d" data-code="&#x261d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f44f" data-code="&#x1f44f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4aa" data-code="&#x1f4aa"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6b6" data-code="&#x1f6b6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3c3" data-code="&#x1f3c3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f483" data-code="&#x1f483"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f46b" data-code="&#x1f46b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f46a" data-code="&#x1f46a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f46c" data-code="&#x1f46c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f46d" data-code="&#x1f46d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f48f" data-code="&#x1f48f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f491" data-code="&#x1f491"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f46f" data-code="&#x1f46f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f646" data-code="&#x1f646"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f645" data-code="&#x1f645"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f481" data-code="&#x1f481"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f64b" data-code="&#x1f64b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f486" data-code="&#x1f486"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f487" data-code="&#x1f487"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f485" data-code="&#x1f485"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f470" data-code="&#x1f470"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f64e" data-code="&#x1f64e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f64d" data-code="&#x1f64d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f647" data-code="&#x1f647"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3a9" data-code="&#x1f3a9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f451" data-code="&#x1f451"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f452" data-code="&#x1f452"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f45f" data-code="&#x1f45f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f45e" data-code="&#x1f45e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f461" data-code="&#x1f461"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f460" data-code="&#x1f460"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f462" data-code="&#x1f462"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f455" data-code="&#x1f455"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f454" data-code="&#x1f454"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f45a" data-code="&#x1f45a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f457" data-code="&#x1f457"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3bd" data-code="&#x1f3bd"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f456" data-code="&#x1f456"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f458" data-code="&#x1f458"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f459" data-code="&#x1f459"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4bc" data-code="&#x1f4bc"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f45c" data-code="&#x1f45c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f45d" data-code="&#x1f45d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f45b" data-code="&#x1f45b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f453" data-code="&#x1f453"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f380" data-code="&#x1f380"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f302" data-code="&#x1f302"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f484" data-code="&#x1f484"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f49b" data-code="&#x1f49b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f499" data-code="&#x1f499"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f49c" data-code="&#x1f49c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f49a" data-code="&#x1f49a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2764" data-code="&#x2764"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f494" data-code="&#x1f494"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f497" data-code="&#x1f497"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f493" data-code="&#x1f493"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f495" data-code="&#x1f495"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f496" data-code="&#x1f496"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f49e" data-code="&#x1f49e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f498" data-code="&#x1f498"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f48c" data-code="&#x1f48c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f48b" data-code="&#x1f48b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f48d" data-code="&#x1f48d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f48e" data-code="&#x1f48e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f464" data-code="&#x1f464"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f465" data-code="&#x1f465"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4ac" data-code="&#x1f4ac"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f463" data-code="&#x1f463"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4ad" data-code="&#x1f4ad"></i></span>
    </li>
  </ul>
  <ul class="content emoji-category category-nature">
    <li>
      <span><i class="emoji emoji1f436" data-code="&#x1f436"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f43a" data-code="&#x1f43a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f431" data-code="&#x1f431"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f42d" data-code="&#x1f42d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f439" data-code="&#x1f439"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f430" data-code="&#x1f430"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f438" data-code="&#x1f438"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f42f" data-code="&#x1f42f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f428" data-code="&#x1f428"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f43b" data-code="&#x1f43b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f437" data-code="&#x1f437"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f43d" data-code="&#x1f43d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f42e" data-code="&#x1f42e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f417" data-code="&#x1f417"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f435" data-code="&#x1f435"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f412" data-code="&#x1f412"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f434" data-code="&#x1f434"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f411" data-code="&#x1f411"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f418" data-code="&#x1f418"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f43c" data-code="&#x1f43c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f427" data-code="&#x1f427"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f426" data-code="&#x1f426"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f424" data-code="&#x1f424"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f425" data-code="&#x1f425"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f423" data-code="&#x1f423"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f414" data-code="&#x1f414"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f40d" data-code="&#x1f40d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f422" data-code="&#x1f422"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f41b" data-code="&#x1f41b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f41d" data-code="&#x1f41d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f41c" data-code="&#x1f41c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f41e" data-code="&#x1f41e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f40c" data-code="&#x1f40c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f419" data-code="&#x1f419"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f41a" data-code="&#x1f41a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f420" data-code="&#x1f420"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f41f" data-code="&#x1f41f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f42c" data-code="&#x1f42c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f433" data-code="&#x1f433"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f40b" data-code="&#x1f40b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f404" data-code="&#x1f404"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f40f" data-code="&#x1f40f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f400" data-code="&#x1f400"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f403" data-code="&#x1f403"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f405" data-code="&#x1f405"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f407" data-code="&#x1f407"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f409" data-code="&#x1f409"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f40e" data-code="&#x1f40e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f410" data-code="&#x1f410"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f413" data-code="&#x1f413"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f415" data-code="&#x1f415"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f416" data-code="&#x1f416"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f401" data-code="&#x1f401"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f402" data-code="&#x1f402"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f432" data-code="&#x1f432"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f421" data-code="&#x1f421"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f40a" data-code="&#x1f40a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f42b" data-code="&#x1f42b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f42a" data-code="&#x1f42a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f406" data-code="&#x1f406"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f408" data-code="&#x1f408"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f429" data-code="&#x1f429"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f43e" data-code="&#x1f43e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f490" data-code="&#x1f490"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f338" data-code="&#x1f338"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f337" data-code="&#x1f337"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f340" data-code="&#x1f340"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f339" data-code="&#x1f339"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f33b" data-code="&#x1f33b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f33a" data-code="&#x1f33a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f341" data-code="&#x1f341"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f343" data-code="&#x1f343"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f342" data-code="&#x1f342"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f33f" data-code="&#x1f33f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f33e" data-code="&#x1f33e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f344" data-code="&#x1f344"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f335" data-code="&#x1f335"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f334" data-code="&#x1f334"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f332" data-code="&#x1f332"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f333" data-code="&#x1f333"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f330" data-code="&#x1f330"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f331" data-code="&#x1f331"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f33c" data-code="&#x1f33c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f310" data-code="&#x1f310"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f31e" data-code="&#x1f31e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f31d" data-code="&#x1f31d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f31a" data-code="&#x1f31a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f311" data-code="&#x1f311"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f312" data-code="&#x1f312"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f313" data-code="&#x1f313"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f314" data-code="&#x1f314"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f315" data-code="&#x1f315"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f316" data-code="&#x1f316"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f317" data-code="&#x1f317"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f318" data-code="&#x1f318"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f31c" data-code="&#x1f31c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f31b" data-code="&#x1f31b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f319" data-code="&#x1f319"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f30d" data-code="&#x1f30d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f30e" data-code="&#x1f30e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f30f" data-code="&#x1f30f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f30b" data-code="&#x1f30b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f30c" data-code="&#x1f30c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f320" data-code="&#x1f320"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2b50" data-code="&#x2b50"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2600" data-code="&#x2600"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26c5" data-code="&#x26c5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2601" data-code="&#x2601"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26a1" data-code="&#x26a1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2614" data-code="&#x2614"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2744" data-code="&#x2744"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26c4" data-code="&#x26c4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f300" data-code="&#x1f300"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f301" data-code="&#x1f301"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f308" data-code="&#x1f308"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f30a" data-code="&#x1f30a"></i></span>
    </li>
  </ul>
  <ul class="content emoji-category category-objects">
    <li>
      <span><i class="emoji emoji1f38d" data-code="&#x1f38d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f49d" data-code="&#x1f49d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f38e" data-code="&#x1f38e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f392" data-code="&#x1f392"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f393" data-code="&#x1f393"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f38f" data-code="&#x1f38f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f386" data-code="&#x1f386"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f387" data-code="&#x1f387"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f390" data-code="&#x1f390"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f391" data-code="&#x1f391"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f383" data-code="&#x1f383"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f47b" data-code="&#x1f47b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f385" data-code="&#x1f385"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f384" data-code="&#x1f384"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f381" data-code="&#x1f381"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f38b" data-code="&#x1f38b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f389" data-code="&#x1f389"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f38a" data-code="&#x1f38a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f388" data-code="&#x1f388"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f38c" data-code="&#x1f38c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f52e" data-code="&#x1f52e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3a5" data-code="&#x1f3a5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4f7" data-code="&#x1f4f7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4f9" data-code="&#x1f4f9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4fc" data-code="&#x1f4fc"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4bf" data-code="&#x1f4bf"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4c0" data-code="&#x1f4c0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4bd" data-code="&#x1f4bd"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4be" data-code="&#x1f4be"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4bb" data-code="&#x1f4bb"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4f1" data-code="&#x1f4f1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji260e" data-code="&#x260e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4de" data-code="&#x1f4de"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4df" data-code="&#x1f4df"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4e0" data-code="&#x1f4e0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4e1" data-code="&#x1f4e1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4fa" data-code="&#x1f4fa"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4fb" data-code="&#x1f4fb"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f50a" data-code="&#x1f50a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f509" data-code="&#x1f509"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f508" data-code="&#x1f508"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f507" data-code="&#x1f507"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f514" data-code="&#x1f514"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f515" data-code="&#x1f515"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4e2" data-code="&#x1f4e2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4e3" data-code="&#x1f4e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji23f3" data-code="&#x23f3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji231b" data-code="&#x231b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji23f0" data-code="&#x23f0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji231a" data-code="&#x231a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f513" data-code="&#x1f513"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f512" data-code="&#x1f512"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f50f" data-code="&#x1f50f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f510" data-code="&#x1f510"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f511" data-code="&#x1f511"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f50e" data-code="&#x1f50e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4a1" data-code="&#x1f4a1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f526" data-code="&#x1f526"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f506" data-code="&#x1f506"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f505" data-code="&#x1f505"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f50c" data-code="&#x1f50c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f50b" data-code="&#x1f50b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f50d" data-code="&#x1f50d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6c1" data-code="&#x1f6c1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6c0" data-code="&#x1f6c0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6bf" data-code="&#x1f6bf"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6bd" data-code="&#x1f6bd"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f527" data-code="&#x1f527"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f529" data-code="&#x1f529"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f528" data-code="&#x1f528"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6aa" data-code="&#x1f6aa"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6ac" data-code="&#x1f6ac"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4a3" data-code="&#x1f4a3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f52b" data-code="&#x1f52b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f52a" data-code="&#x1f52a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f48a" data-code="&#x1f48a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f489" data-code="&#x1f489"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4b0" data-code="&#x1f4b0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4b4" data-code="&#x1f4b4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4b5" data-code="&#x1f4b5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4b7" data-code="&#x1f4b7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4b6" data-code="&#x1f4b6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4b3" data-code="&#x1f4b3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4b8" data-code="&#x1f4b8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4f2" data-code="&#x1f4f2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4e7" data-code="&#x1f4e7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4e5" data-code="&#x1f4e5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4e4" data-code="&#x1f4e4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2709" data-code="&#x2709"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4e9" data-code="&#x1f4e9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4e8" data-code="&#x1f4e8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4ef" data-code="&#x1f4ef"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4eb" data-code="&#x1f4eb"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4ea" data-code="&#x1f4ea"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4ec" data-code="&#x1f4ec"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4ed" data-code="&#x1f4ed"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4ee" data-code="&#x1f4ee"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4e6" data-code="&#x1f4e6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4dd" data-code="&#x1f4dd"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4c4" data-code="&#x1f4c4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4c3" data-code="&#x1f4c3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4d1" data-code="&#x1f4d1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4ca" data-code="&#x1f4ca"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4c8" data-code="&#x1f4c8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4c9" data-code="&#x1f4c9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4dc" data-code="&#x1f4dc"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4cb" data-code="&#x1f4cb"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4c5" data-code="&#x1f4c5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4c6" data-code="&#x1f4c6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4c7" data-code="&#x1f4c7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4c1" data-code="&#x1f4c1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4c2" data-code="&#x1f4c2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2702" data-code="&#x2702"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4cc" data-code="&#x1f4cc"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4ce" data-code="&#x1f4ce"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2712" data-code="&#x2712"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji270f" data-code="&#x270f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4cf" data-code="&#x1f4cf"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4d0" data-code="&#x1f4d0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4d5" data-code="&#x1f4d5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4d7" data-code="&#x1f4d7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4d8" data-code="&#x1f4d8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4d9" data-code="&#x1f4d9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4d3" data-code="&#x1f4d3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4d4" data-code="&#x1f4d4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4d2" data-code="&#x1f4d2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4da" data-code="&#x1f4da"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4d6" data-code="&#x1f4d6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f516" data-code="&#x1f516"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4db" data-code="&#x1f4db"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f52c" data-code="&#x1f52c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f52d" data-code="&#x1f52d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4f0" data-code="&#x1f4f0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3a8" data-code="&#x1f3a8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3ac" data-code="&#x1f3ac"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3a4" data-code="&#x1f3a4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3a7" data-code="&#x1f3a7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3bc" data-code="&#x1f3bc"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3b5" data-code="&#x1f3b5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3b6" data-code="&#x1f3b6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3b9" data-code="&#x1f3b9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3bb" data-code="&#x1f3bb"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3ba" data-code="&#x1f3ba"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3b7" data-code="&#x1f3b7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3b8" data-code="&#x1f3b8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f47e" data-code="&#x1f47e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3ae" data-code="&#x1f3ae"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f0cf" data-code="&#x1f0cf"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3b4" data-code="&#x1f3b4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f004" data-code="&#x1f004"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3b2" data-code="&#x1f3b2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3af" data-code="&#x1f3af"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3c8" data-code="&#x1f3c8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3c0" data-code="&#x1f3c0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26bd" data-code="&#x26bd"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26be" data-code="&#x26be"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3be" data-code="&#x1f3be"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3b1" data-code="&#x1f3b1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3c9" data-code="&#x1f3c9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3b3" data-code="&#x1f3b3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26f3" data-code="&#x26f3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6b5" data-code="&#x1f6b5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6b4" data-code="&#x1f6b4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3c1" data-code="&#x1f3c1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3c7" data-code="&#x1f3c7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3c6" data-code="&#x1f3c6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3bf" data-code="&#x1f3bf"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3c2" data-code="&#x1f3c2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3ca" data-code="&#x1f3ca"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3c4" data-code="&#x1f3c4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3a3" data-code="&#x1f3a3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2615" data-code="&#x2615"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f375" data-code="&#x1f375"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f376" data-code="&#x1f376"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f37c" data-code="&#x1f37c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f37a" data-code="&#x1f37a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f37b" data-code="&#x1f37b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f378" data-code="&#x1f378"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f379" data-code="&#x1f379"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f377" data-code="&#x1f377"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f374" data-code="&#x1f374"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f355" data-code="&#x1f355"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f354" data-code="&#x1f354"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f35f" data-code="&#x1f35f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f357" data-code="&#x1f357"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f356" data-code="&#x1f356"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f35d" data-code="&#x1f35d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f35b" data-code="&#x1f35b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f364" data-code="&#x1f364"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f371" data-code="&#x1f371"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f363" data-code="&#x1f363"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f365" data-code="&#x1f365"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f359" data-code="&#x1f359"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f358" data-code="&#x1f358"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f35a" data-code="&#x1f35a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f35c" data-code="&#x1f35c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f372" data-code="&#x1f372"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f362" data-code="&#x1f362"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f361" data-code="&#x1f361"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f373" data-code="&#x1f373"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f35e" data-code="&#x1f35e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f369" data-code="&#x1f369"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f36e" data-code="&#x1f36e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f366" data-code="&#x1f366"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f368" data-code="&#x1f368"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f367" data-code="&#x1f367"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f382" data-code="&#x1f382"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f370" data-code="&#x1f370"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f36a" data-code="&#x1f36a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f36b" data-code="&#x1f36b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f36c" data-code="&#x1f36c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f36d" data-code="&#x1f36d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f36f" data-code="&#x1f36f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f34e" data-code="&#x1f34e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f34f" data-code="&#x1f34f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f34a" data-code="&#x1f34a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f34b" data-code="&#x1f34b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f352" data-code="&#x1f352"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f347" data-code="&#x1f347"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f349" data-code="&#x1f349"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f353" data-code="&#x1f353"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f351" data-code="&#x1f351"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f348" data-code="&#x1f348"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f34c" data-code="&#x1f34c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f350" data-code="&#x1f350"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f34d" data-code="&#x1f34d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f360" data-code="&#x1f360"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f346" data-code="&#x1f346"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f345" data-code="&#x1f345"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f33d" data-code="&#x1f33d"></i></span>
    </li>
  </ul>
  <ul class="content emoji-category category-places">
    <li>
      <span><i class="emoji emoji1f3e0" data-code="&#x1f3e0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3e1" data-code="&#x1f3e1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3eb" data-code="&#x1f3eb"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3e2" data-code="&#x1f3e2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3e3" data-code="&#x1f3e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3e5" data-code="&#x1f3e5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3e6" data-code="&#x1f3e6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3ea" data-code="&#x1f3ea"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3e9" data-code="&#x1f3e9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3e8" data-code="&#x1f3e8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f492" data-code="&#x1f492"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26ea" data-code="&#x26ea"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3ec" data-code="&#x1f3ec"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3e4" data-code="&#x1f3e4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f307" data-code="&#x1f307"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f306" data-code="&#x1f306"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3ef" data-code="&#x1f3ef"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3f0" data-code="&#x1f3f0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26fa" data-code="&#x26fa"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3ed" data-code="&#x1f3ed"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f5fc" data-code="&#x1f5fc"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f5fe" data-code="&#x1f5fe"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f5fb" data-code="&#x1f5fb"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f304" data-code="&#x1f304"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f305" data-code="&#x1f305"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f303" data-code="&#x1f303"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f5fd" data-code="&#x1f5fd"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f309" data-code="&#x1f309"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3a0" data-code="&#x1f3a0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3a1" data-code="&#x1f3a1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26f2" data-code="&#x26f2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3a2" data-code="&#x1f3a2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6a2" data-code="&#x1f6a2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26f5" data-code="&#x26f5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6a4" data-code="&#x1f6a4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6a3" data-code="&#x1f6a3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2693" data-code="&#x2693"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f680" data-code="&#x1f680"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2708" data-code="&#x2708"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4ba" data-code="&#x1f4ba"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f681" data-code="&#x1f681"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f682" data-code="&#x1f682"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f68a" data-code="&#x1f68a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f689" data-code="&#x1f689"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f69e" data-code="&#x1f69e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f686" data-code="&#x1f686"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f684" data-code="&#x1f684"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f685" data-code="&#x1f685"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f688" data-code="&#x1f688"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f687" data-code="&#x1f687"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f69d" data-code="&#x1f69d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f68b" data-code="&#x1f68b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f683" data-code="&#x1f683"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f68e" data-code="&#x1f68e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f68c" data-code="&#x1f68c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f68d" data-code="&#x1f68d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f699" data-code="&#x1f699"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f698" data-code="&#x1f698"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f697" data-code="&#x1f697"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f695" data-code="&#x1f695"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f696" data-code="&#x1f696"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f69b" data-code="&#x1f69b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f69a" data-code="&#x1f69a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6a8" data-code="&#x1f6a8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f693" data-code="&#x1f693"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f694" data-code="&#x1f694"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f692" data-code="&#x1f692"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f691" data-code="&#x1f691"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f690" data-code="&#x1f690"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6b2" data-code="&#x1f6b2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6a1" data-code="&#x1f6a1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f69f" data-code="&#x1f69f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6a0" data-code="&#x1f6a0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f69c" data-code="&#x1f69c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f488" data-code="&#x1f488"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f68f" data-code="&#x1f68f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3ab" data-code="&#x1f3ab"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6a6" data-code="&#x1f6a6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6a5" data-code="&#x1f6a5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26a0" data-code="&#x26a0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6a7" data-code="&#x1f6a7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f530" data-code="&#x1f530"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26fd" data-code="&#x26fd"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3ee" data-code="&#x1f3ee"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3b0" data-code="&#x1f3b0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2668" data-code="&#x2668"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f5ff" data-code="&#x1f5ff"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3aa" data-code="&#x1f3aa"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3ad" data-code="&#x1f3ad"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4cd" data-code="&#x1f4cd"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6a9" data-code="&#x1f6a9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1ef" data-code="&#x1f1ef"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1f5" data-code="&#x1f1f5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1f0" data-code="&#x1f1f0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1f7" data-code="&#x1f1f7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1e9" data-code="&#x1f1e9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1ea" data-code="&#x1f1ea"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1e8" data-code="&#x1f1e8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1f3" data-code="&#x1f1f3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1fa" data-code="&#x1f1fa"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1f8" data-code="&#x1f1f8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1eb" data-code="&#x1f1eb"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1f7" data-code="&#x1f1f7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1ea" data-code="&#x1f1ea"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1f8" data-code="&#x1f1f8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1ee" data-code="&#x1f1ee"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1f9" data-code="&#x1f1f9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1f7" data-code="&#x1f1f7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1fa" data-code="&#x1f1fa"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1ec" data-code="&#x1f1ec"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f1e7" data-code="&#x1f1e7"></i></span>
    </li>
  </ul>
  <ul class="content emoji-category category-symbols">
    <li>
      <span><i class="emoji emoji3120e3" data-code="&#x3120e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji3220e3" data-code="&#x3220e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji3320e3" data-code="&#x3320e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji3420e3" data-code="&#x3420e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji3520e3" data-code="&#x3520e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji3620e3" data-code="&#x3620e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji3720e3" data-code="&#x3720e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji3820e3" data-code="&#x3820e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji3920e3" data-code="&#x3920e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji3020e3" data-code="&#x3020e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f51f" data-code="&#x1f51f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f522" data-code="&#x1f522"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2320e3" data-code="&#x2320e3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f523" data-code="&#x1f523"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2b06" data-code="&#x2b06"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2b07" data-code="&#x2b07"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2b05" data-code="&#x2b05"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji27a1" data-code="&#x27a1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f520" data-code="&#x1f520"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f521" data-code="&#x1f521"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f524" data-code="&#x1f524"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2197" data-code="&#x2197"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2196" data-code="&#x2196"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2198" data-code="&#x2198"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2199" data-code="&#x2199"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2194" data-code="&#x2194"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2195" data-code="&#x2195"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f504" data-code="&#x1f504"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji25c0" data-code="&#x25c0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji25b6" data-code="&#x25b6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f53c" data-code="&#x1f53c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f53d" data-code="&#x1f53d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji21a9" data-code="&#x21a9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji21aa" data-code="&#x21aa"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2139" data-code="&#x2139"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji23ea" data-code="&#x23ea"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji23e9" data-code="&#x23e9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji23eb" data-code="&#x23eb"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji23ec" data-code="&#x23ec"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2935" data-code="&#x2935"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2934" data-code="&#x2934"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f197" data-code="&#x1f197"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f500" data-code="&#x1f500"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f501" data-code="&#x1f501"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f502" data-code="&#x1f502"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f195" data-code="&#x1f195"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f199" data-code="&#x1f199"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f192" data-code="&#x1f192"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f193" data-code="&#x1f193"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f196" data-code="&#x1f196"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4f6" data-code="&#x1f4f6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3a6" data-code="&#x1f3a6"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f201" data-code="&#x1f201"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f22f" data-code="&#x1f22f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f233" data-code="&#x1f233"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f235" data-code="&#x1f235"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f234" data-code="&#x1f234"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f232" data-code="&#x1f232"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f250" data-code="&#x1f250"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f239" data-code="&#x1f239"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f23a" data-code="&#x1f23a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f236" data-code="&#x1f236"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f21a" data-code="&#x1f21a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6bb" data-code="&#x1f6bb"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6b9" data-code="&#x1f6b9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6ba" data-code="&#x1f6ba"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6bc" data-code="&#x1f6bc"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6be" data-code="&#x1f6be"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6b0" data-code="&#x1f6b0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6ae" data-code="&#x1f6ae"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f17f" data-code="&#x1f17f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji267f" data-code="&#x267f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6ad" data-code="&#x1f6ad"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f237" data-code="&#x1f237"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f238" data-code="&#x1f238"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f202" data-code="&#x1f202"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji24c2" data-code="&#x24c2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6c2" data-code="&#x1f6c2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6c4" data-code="&#x1f6c4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6c5" data-code="&#x1f6c5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6c3" data-code="&#x1f6c3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f251" data-code="&#x1f251"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji3299" data-code="&#x3299"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji3297" data-code="&#x3297"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f191" data-code="&#x1f191"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f198" data-code="&#x1f198"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f194" data-code="&#x1f194"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6ab" data-code="&#x1f6ab"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f51e" data-code="&#x1f51e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4f5" data-code="&#x1f4f5"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6af" data-code="&#x1f6af"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6b1" data-code="&#x1f6b1"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6b3" data-code="&#x1f6b3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6b7" data-code="&#x1f6b7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f6b8" data-code="&#x1f6b8"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26d4" data-code="&#x26d4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2733" data-code="&#x2733"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2747" data-code="&#x2747"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji274e" data-code="&#x274e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2705" data-code="&#x2705"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2734" data-code="&#x2734"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f49f" data-code="&#x1f49f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f19a" data-code="&#x1f19a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4f3" data-code="&#x1f4f3"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4f4" data-code="&#x1f4f4"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f170" data-code="&#x1f170"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f171" data-code="&#x1f171"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f18e" data-code="&#x1f18e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f17e" data-code="&#x1f17e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4a0" data-code="&#x1f4a0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji27bf" data-code="&#x27bf"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji267b" data-code="&#x267b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2648" data-code="&#x2648"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2649" data-code="&#x2649"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji264a" data-code="&#x264a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji264b" data-code="&#x264b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji264c" data-code="&#x264c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji264d" data-code="&#x264d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji264e" data-code="&#x264e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji264f" data-code="&#x264f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2650" data-code="&#x2650"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2651" data-code="&#x2651"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2652" data-code="&#x2652"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2653" data-code="&#x2653"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26ce" data-code="&#x26ce"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f52f" data-code="&#x1f52f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f3e7" data-code="&#x1f3e7"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4b9" data-code="&#x1f4b9"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4b2" data-code="&#x1f4b2"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4b1" data-code="&#x1f4b1"></i></span>
    </li>
    <li>
      <span><i class="emoji emojia9" data-code="&#xa9"></i></span>
    </li>
    <li>
      <span><i class="emoji emojiae" data-code="&#xae"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2122" data-code="&#x2122"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji274c" data-code="&#x274c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji203c" data-code="&#x203c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2049" data-code="&#x2049"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2757" data-code="&#x2757"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2753" data-code="&#x2753"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2755" data-code="&#x2755"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2754" data-code="&#x2754"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2b55" data-code="&#x2b55"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f51d" data-code="&#x1f51d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f51a" data-code="&#x1f51a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f519" data-code="&#x1f519"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f51b" data-code="&#x1f51b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f51c" data-code="&#x1f51c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f503" data-code="&#x1f503"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f55b" data-code="&#x1f55b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f567" data-code="&#x1f567"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f550" data-code="&#x1f550"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f55c" data-code="&#x1f55c"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f551" data-code="&#x1f551"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f55d" data-code="&#x1f55d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f552" data-code="&#x1f552"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f55e" data-code="&#x1f55e"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f553" data-code="&#x1f553"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f55f" data-code="&#x1f55f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f554" data-code="&#x1f554"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f560" data-code="&#x1f560"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f555" data-code="&#x1f555"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f556" data-code="&#x1f556"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f557" data-code="&#x1f557"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f558" data-code="&#x1f558"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f559" data-code="&#x1f559"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f55a" data-code="&#x1f55a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f561" data-code="&#x1f561"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f562" data-code="&#x1f562"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f563" data-code="&#x1f563"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f564" data-code="&#x1f564"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f565" data-code="&#x1f565"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f566" data-code="&#x1f566"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2716" data-code="&#x2716"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2795" data-code="&#x2795"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2796" data-code="&#x2796"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2797" data-code="&#x2797"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2660" data-code="&#x2660"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2665" data-code="&#x2665"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2663" data-code="&#x2663"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2666" data-code="&#x2666"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4ae" data-code="&#x1f4ae"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f4af" data-code="&#x1f4af"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2714" data-code="&#x2714"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2611" data-code="&#x2611"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f518" data-code="&#x1f518"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f517" data-code="&#x1f517"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji27b0" data-code="&#x27b0"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji3030" data-code="&#x3030"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji303d" data-code="&#x303d"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f531" data-code="&#x1f531"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji25fc" data-code="&#x25fc"></i></span>
    </li>
    <li>
      <span><i class="emoji emojife0f" data-code="&#xfe0f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji25fb" data-code="&#x25fb"></i></span>
    </li>
    <li>
      <span><i class="emoji emojife0f" data-code="&#xfe0f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji25fe" data-code="&#x25fe"></i></span>
    </li>
    <li>
      <span><i class="emoji emojife0f" data-code="&#xfe0f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji25fd" data-code="&#x25fd"></i></span>
    </li>
    <li>
      <span><i class="emoji emojife0f" data-code="&#xfe0f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji25aa" data-code="&#x25aa"></i></span>
    </li>
    <li>
      <span><i class="emoji emojife0f" data-code="&#xfe0f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji25ab" data-code="&#x25ab"></i></span>
    </li>
    <li>
      <span><i class="emoji emojife0f" data-code="&#xfe0f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f53a" data-code="&#x1f53a"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f532" data-code="&#x1f532"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f533" data-code="&#x1f533"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26ab" data-code="&#x26ab"></i></span>
    </li>
    <li>
      <span><i class="emoji emojife0f" data-code="&#xfe0f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji26aa" data-code="&#x26aa"></i></span>
    </li>
    <li>
      <span><i class="emoji emojife0f" data-code="&#xfe0f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f534" data-code="&#x1f534"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f535" data-code="&#x1f535"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f53b" data-code="&#x1f53b"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2b1c" data-code="&#x2b1c"></i></span>
    </li>
    <li>
      <span><i class="emoji emojife0f" data-code="&#xfe0f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji2b1b" data-code="&#x2b1b"></i></span>
    </li>
    <li>
      <span><i class="emoji emojife0f" data-code="&#xfe0f"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f536" data-code="&#x1f536"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f537" data-code="&#x1f537"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f538" data-code="&#x1f538"></i></span>
    </li>
    <li>
      <span><i class="emoji emoji1f539" data-code="&#x1f539"></i></span>
    </li>
  </ul>
  <div role="toolbar">
    <ul class="categories">
      <li><button class="icon icon-people" data-category="people"></button></li>
      <li><button class="icon icon-nature" data-category="nature"></button></li>
      <li><button class="icon icon-objects" data-category="objects"></button></li>
      <li><button class="icon icon-places" data-category="places"></button></li>
      <li><button class="icon icon-symbols" data-category="symbols"></button></li>
    </ul>
  </div>
</section>